.bar{
    background-color: gray;
}
.btn{
    background-color: gray;
    border-style: solid;
    border-color: rgb(7, 218, 7);
    border-radius: 5px;
    color: rgb(7, 218, 7);
    margin-left: 5px;

}